<!-- start custom comments scripts -->
<script>
  window.onload = function () {
    document.querySelectorAll("div.highlight span.n").forEach(function (el) {
      const next = el.nextElementSibling;
      const selfEndsWithParen = /\($/.test(el.textContent);
      if (
        /^[a-zA-Z_][a-zA-Z0-9_]*$/.test(el.textContent) &&
        (next?.textContent.trim() === "(" || selfEndsWithParen)
      ) {
        el.classList.add("nf");
      }
    });
  };
</script>

<!-- end custom comments scripts -->
